@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:wght@400;700;900&display=swap");
@import "tailwindcss";


@layer base {
  body {
    background-color: #fceea7;
    background-image: radial-gradient(#e5cca4 15%, transparent 16%), radial-gradient(#e5cca4 15%, transparent 16%);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    color: #000;
    font-family: "Comic Neue", cursive;
    --webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size:24px'><text y='24'>🐍</text></svg>"), auto;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Banges', cursive;
    letter-spacing: 0.05em;
  }
}

@layer components {
  .comic-button {
    font-family: 'Bangers', cursive;
    border: 4px solid #000;
    box-shadow: 5px 5px 0px #000;
    text-transform: uppercase;
    transition: all 0.1s;
    cursor: pointer;
  }

  .comic-button:hover {
    transform: translate(-2px, -2px) rotate(0deg) !important;
    box-shadow: 7px 7px 0px #000;
  }

  .comic-button:active {
    transform: translate(5px, 5px) !important;
    box-shadow: 0px 0px 0px #000 !important;
  }
}

